

  @font-face {
	font-family: myFirstFont;
	src: url(Fonts/Quicksand-VariableFont_wght.ttf);
  }

.second-header-top img{
  height: 200px;
  padding-bottom: 10px;
}

.second-header-top {
  font-size: 0;
  text-align: center;
  margin: auto;
}

.second-header-top .search-bar .form-control{
  margin-left: auto;
 
}

.second-header-top .search-bar .btn{
  margin-right: auto;
}

.nav-item {
	font-size: 21px;
	font-family: myFirstFont;
  justify-content: space-between;
}

.navbar-nav {
    margin: auto;
    background-color: #bfd9d7;
  }

.row {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#product {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
  padding-bottom: 1%;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}