@font-face {
	font-family: myFirstFont;
	src: url(Fonts/Quicksand-VariableFont_wght.ttf);
  }

.nav-item {
	font-size: 21px;
	font-family: myFirstFont;
}

.slideshow {
    width: 1400px;
    position: relative;
    margin: auto;
}

