@font-face {
	font-family: myFirstFont;
	src: url(Fonts/Quicksand-VariableFont_wght.ttf);
  }

.navbar-nav a {
	font-size: 21px;
	font-family: myFirstFont;
}

.navbar-nav {
    background-color: #bfd9d7;
    width: 100%;
    padding: 0%;
}

@media (min-width: 992px) {
    .navbar {
        height:130px;
    }
}

.carousel-inner {
    height: 100vh;
}

.carousel-item img {
	height: 100vh;
  }
